.unselected{
    cursor: pointer;
    font-size: calc(14px + 10 * (100vw / 1440));
    transition-duration: 0.1s;
}

.selected{
    font-weight: bold;
    font-size: calc(14px + 10 * (100vw / 1440));
    background-color: rgb(210, 210, 210);
    transition-duration: 0.1s;
}

.usersList{
    list-style-type:none;
    width: 346px;
    padding: 0;
    background-color: rgb(228, 228, 228);
    height: 500px;
    overflow:scroll;
    overflow-x: hidden;
}

.usersList p {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.usersBlock{
    display: flex;
}

@media (max-width: 769px){
    .usersList{
        width: unset;
    }
    .usersBlock{
        justify-content: space-between;
    }
    .usersList p{
        padding: 2px 10px 2px 2px;
        font-size: 10px;
    }
}
    